<template>
  
    <table class="slds-table slds-table_cell-buffer slds-table_bordered">
        <thead>
          <tr class="slds-line-height_reset">
            <template for:each={columnConfiguration} for:item="column">
              <th key={column.heading} onclick={handleSort} data-fieldname={column.fieldApiName}
                scope="col" class="slds-is-resizable slds-is-sortable" >
                  <a class="slds-th__action slds-text-link_reset" role="button" tabindex="-1">
                      <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                          <div class="slds-truncate slds-p-right_xx-small">{column.heading}</div>
                          <template if:true={column.sortable}>
                              <template if:false={column.sorted}>
                                  <lightning-icon class="sort_up" icon-name="utility:sort"
                                    size="xx-small"></lightning-icon>
                              </template>
                              <template if:true={column.sorted}>
                                  <template if:true={column.sortedAscending}>
                                      <lightning-icon class="sort_down" icon-name="utility:arrowup"
                                        size="xx-small"></lightning-icon>
                                  </template>
                                  <template if:false={column.sortedAscending}>
                                      <lightning-icon class="sort_down" icon-name="utility:arrowdown"
                                        size="xx-small"></lightning-icon>
                                  </template>
                              </template>
                          </template>

                          <template if:true={column.isParentCheckbox}>
                              <lightning-input type="checkbox" checked={parentCheckbox}
                                name="parentCheckbox" onchange={selectDeselectAll}></lightning-input>
                          </template>
                      </div>
                  </a>
              </th>
          </template>
            <th class="" scope="col">
              <div class="slds-truncate" ></div>
              </th>
          </tr>
        </thead>
        <tbody>
            <template for:each={todoData} for:item="item">
              <tr key={item.id} class={item.labellinethrough}>
                <td key={item.id} class="slds-align_absolute-center" data-label="Mark Completed Checkbox">
                  <template if:true={item.isFutureTask}>
                    <lightning-helptext class="slds-m-right_medium" content={item.content}></lightning-helptext>
                  </template>
                  <template if:false={item.isFutureTask}>
                  <template if:false={item.isSynopsisGenerated}>
                    <lightning-input  data-id={item.id} type="checkbox"  name="todoItem" onchange={handleChange} checked={item.check}></lightning-input>
                  </template>
                  <template if:true={item.isSynopsisGenerated} >
                    <lightning-helptext class="slds-m-right_medium" content="This task will be completed when you 'Mark In' in the respective key log."></lightning-helptext>
                  </template>
                  <!-- <template if:true={item.showEditButton}>
                   <lightning-input  data-id={item.id} type="checkbox"  name="todoItem" onchange={handleChange} checked={item.check} disabled={item.isDisabled}></lightning-input>
                  </template> -->
                </template>
                </td>
                <td  key={item.id} data-label="Completed By" data-id={item.id} onclick={showRepeatedTask}>
                  <div class="slds-truncate slds-cell-wrap"  data-id={item.id} style="margin-left:10px;">{item.completedby}</div>
                </td>
                <td  key={item.id} data-label="Repeat" data-id={item.id} onclick={showRepeatedTask}>
                  <div class="slds-truncate slds-cell-wrap" data-id={item.id} style="margin-left:10px;">{item.repeat}</div>
                </td>
                <td  key={item.id} data-label="Task Details" data-id={item.id} onclick={showRepeatedTask}>
                  <div class="slds-truncate slds-cell-wrap" data-id={item.id} style="margin-left:10px;">{item.taskDetail}</div>
                </td>
                <td key={item.id} data-label="Status" data-id={item.id} onclick={showRepeatedTask}>
                  <div class="slds-truncate slds-cell-wrap" data-id={item.id} style="margin-left:5px;">{item.statusjs}</div>
                </td>
                <td  key={item.id} data-label="Assign To" data-id={item.id} onclick={showRepeatedTask}>
                 <template if:true={item.assignToName}><div class="slds-truncate slds-cell-wrap" data-id={item.id} style="margin-left:5px;">{item.assignToName}</div></template> 
                 <template if:false={item.assignToName}><div class="slds-truncate slds-cell-wrap"  data-id={item.id} style="margin-left:5px;">{item.teamName}</div></template>
                </td>
                <td  key={item.id} data-label="Created Date" data-id={item.id} onclick={showRepeatedTask}>
                  <div class="slds-truncate slds-cell-wrap" data-id={item.id} style="margin-left:10px;">{item.createdDate}</div>
                </td>
                <td key={item.id} data-label="Due Date" data-id={item.id} onclick={showRepeatedTask}>
                  <div class="slds-truncate slds-cell-wrap" data-id={item.id}  style="margin-left:10px;">{item.dueDate}</div>
                </td>
               
                <td key={item.id}>
                  <template if:false={item.isSynopsisGenerated}>
                    <lightning-button-menu alternative-text="Show menu">
                          <lightning-menu-item data-id={item.id} value="Edit" label="Edit" onclick={handleEditClick}></lightning-menu-item>
                          <!-- <template if:true={item.showEditButton}>
                            <lightning-menu-item data-id={item.id} value="Edit" label="Edit" onclick={handleEditClick}></lightning-menu-item>
                          </template> -->
                          <lightning-menu-item data-id={item.id} value="Delete" label="Delete" onclick={handleDeleteClick}></lightning-menu-item>
                      <template if:true={item.showHideShowButton}>
                          <lightning-menu-item if:true={item.isHidden} data-id={item.id} value="Show" label="Show" onclick={handleShowTask}></lightning-menu-item>
                          <lightning-menu-item if:false={item.isHidden} data-id={item.id} value="Hide" label="Hide" onclick={handleHideTask}></lightning-menu-item>
                      </template>
                    </lightning-button-menu>
                 </template>
                 <template if:true={item.isSynopsisGenerated}>
                  <template if:true={item.showHideShowButton}>
                    <lightning-button-menu alternative-text="Show menu">
                      <lightning-menu-item if:true={item.isHidden} data-id={item.id} value="Show" label="Show" onclick={handleShowTask}></lightning-menu-item>
                      <lightning-menu-item if:false={item.isHidden} data-id={item.id} value="Hide" label="Hide" onclick={handleHideTask}></lightning-menu-item>
                    </lightning-button-menu>
                  </template>
                </template>
                </td>
              </tr>
            </template>
        </tbody>
    </table>
  

</template>