<template>
    <div class="slds-form-element">
        <label class="slds-form-element__label" for="combobox-id-2">{label}</label>
        <div class="slds-form-element__control">
            <div class="slds-combobox_container">
                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="true"
                  aria-haspopup="dialog" role="combobox">
                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none"
                      onclick={handleInputClicked}>
                        <input type="text" class="slds-input slds-combobox__input" autocomplete="off" role="textbox"
                          placeholder={inputPlaceholder} readonly={iseditable} oninput={filterOptionInterval}/>
                        <span
                          class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                            <lightning-icon icon-name="utility:down" size="xx-small"></lightning-icon>
                        </span>
                    </div>
                    <section class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid" role="listbox"
                      onclick={comboboxDropdownClicked} tabindex="0">
                        <div class="slds-popover__body slds-popover__body_small">
                            <fieldset class="slds-form-element">
                                <div class="slds-form-element__control">
                                    <lightning-input if:true={showAll} class="select-box" label="All" type="checkbox"
                                      checked={selectAllCheckbox} name="selectAllCheckbox" onclick={handleSelectAll}
                                      value="all"></lightning-input>
                                    <template for:item="option" for:each={options}>
                                        <lightning-input class="select-box" key={option.key} checked={option.checked} if:false={option.hideItem}
                                          label={option.label} type="checkbox" name="selectAllCheckbox"
                                          onclick={handleSelectClicked} value={option.value}></lightning-input>
                                    </template>
                                    <div if:false={showAll} class="slds-text-align_center">
                                        <span class="slds-m-around_small status slds-text-color_error">{emptyMessage}
                                        </span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</template>