<template><lightning-tabset active-tab-value="week">
    <lightning-tab label="Daily" data-tab-selected="day" onactive={handleTabSelect}>   
    </lightning-tab>
    <lightning-tab label="Weekly"  data-tab-selected="week" value="week" onactive={handleTabSelect}>
    </lightning-tab>
    <lightning-tab label="Monthly" data-tab-selected="month" onactive={handleTabSelect}>
    </lightning-tab>
    <lightning-tab label="Yearly" data-tab-selected="year" onactive={handleTabSelect}>
    </lightning-tab>
    <lightning-tab label="Custom" data-tab-selected="custom" onactive={handleTabSelect}>
    </lightning-tab>
  </lightning-tabset>
</template>